.navbarFixed {
  position: fixed;
  z-index: 9999;
  width: 100%;
  font-family: Old Standard TT;
  font-size: 1rem;
  color: $headings-color;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;

}

.navbarFixed.darkBg {
  background: rgba(0, 0, 0, 0.8);
}

.navbarFixed.navbarExpandBg {
  background: rgba(0, 0, 0, 0.8);
}

.navbarFixed a {
  color: $headings-color;
  font-weight: bold;
}

.navbar-nav .nav-link{
  &:hover{
    color: $headings-color;
  }
  &:focus{
    color: $headings-color;
  }
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
  color: $headings-color;
}

.nav_menu-items {
  justify-content: end;
}

.nav_brand-left {
  font-size: 16px;
  color: $headings-color;
  display: flex;
  flex-direction: column;
}

.nav_brand-left:hover {
  color: $headings-color;
}

.nav_brand-name {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1em;
}

.nav_brand-subtitle {
  font-family: Rubik;
  font-weight: 300;
  text-align: center;
}

.nav-link {
  text-transform: capitalize;
  margin-right: 10px;
}

.nav-link:last-child {
  margin-right: 0px;
}
