/* Mobile-specific styles */
@media (max-width: 1199px) {
  .scroll-child {
    .projectCards {
      row-gap: 25px;
    }
  }
}

@media (max-width: 991px) {
  .scroll-child {
    .introCards {
      row-gap: 35px;
    }
  }
}

@media (max-width: 767px) {

  #home {
    height: 100vh;
}


  .navbarFixed {
    background-color: black;
  }

  h1 {
    font-size: calc(40px + (60 - 60) * ((100vw - 320px) / (768 - 320)));
    letter-spacing: -3px;
    line-height: 1em;
  }

  .home-hero {
    text-align: center;
    padding-top: 80px;
  }

  html {
    scroll-snap-type: none !important;
  }

  .full-page-container {
    scroll-snap-type: none !important;
  }

  .scroll-child {
    height: auto;
    scroll-snap-align: none;
    .container-gradient {
      z-index: 1111 !important;
      margin: 10% 5%;
    }
  }
}

@media (max-width: 414px) {
  .navbar-brand {
    .nav_brand-name {
      font-size: 18px !important;
    }
    .nav_brand-subtitle {
      font-size: 12px !important;
    }
  }
}
