$font-stack: Helvetica, sans-serif;
$primary-color: #3133;

* {
  margin: 0;
}

.full-webgl-background {
  width: 100vw;
  height: 100vh;
}

html { /* body won't work ¯\_(ツ)_/¯ */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.full-page-container {
  scroll-snap-type: y mandatory;
}

.scroll-child {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: end;
}


.navbarFixed {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.top-navigation {
  position: fixed;
  top: 0px;
  left: 0;
  background: #000;
  z-index: 10;
}


.background-profile {
  max-width: 300px;
  height: 300px;
  border-radius: 50%;;
  background-color: #000;
  background: url("../images/profile.jpg") no-repeat center;
  background-size: cover;
  bottom: 35rem;
  left: 60%;
  mix-blend-mode: lighten;
  position: relative;
}

.card {
  background-color: transparent;
  border: none;
  color: #fff;
  z-index: 6;

}

.card-body {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-left: 0;
  padding-right: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.card-text {
  font-family: Raleway;
  font-size: 1rem;

}

  .card-title {
    font-family: Old Standard T;
    font-size: 70px;
    font-style: italic;
    letter-spacing: -3px;
    line-height: 72px;
  }  
    


