h1 {
  font-size: $large;
  letter-spacing: -8px;
  line-height: 0.9em;
}

.heading-sub {
  font-size: 35px;
  letter-spacing: -2px;
}

.vertical-text {
  text-orientation: mixed;
}

.nav-link {
  text-transform: capitalize;
}
