h1,
h2,
h3,
h4,
h5 {
  font-family: $font-headings;
}

h1 {
  font-size: calc(80px + (100 - 80) * ((100vw - 320px) / (1920 - 320)));
  letter-spacing: -8px;
  line-height: 0.9em;
}

h2 {
  font-size: calc(40px + (30 - 40) * ((100vw - 320px) / (1920 - 320)));
  letter-spacing: -8px;
  line-height: 0.9em;
}

h3 {
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
  letter-spacing: 0;
  letter-spacing: 0;
}

#blog h2 {
  margin-top: 40px;
  letter-spacing: -2px;
}

p {
  font-family: $font-text;
  font-size: $text-small;
  font-weight: 300;
  line-height: 1.7em;
  color: #fff;
}

.bold-text {
  font-weight: 600;
  text-transform: uppercase;
}

.larger-text {
  font-size: 1.5em;
}

.heading-sub {
  font-size: 35px;
  letter-spacing: -2px;
}

.vertical-text {
  text-orientation: mixed;
}
